
@font-face {
    src: url({{ .Site.BaseURL }}"blahfonts/Beef'd.ttf");
    font-family: "Beef'd";
}

.nav {
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    display: inline;
    font-size: 100%;
    font-weight: 300;
    color: white;
    margin-right: 20px;
}

#nav-bar{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    border-top: solid 1px white;
    align-items: center;
    background: rgba(0, 0, 0, 0.10);
    padding: 0 20px;
    z-index: 1000;
}

.social-media {
    right: 20px;
    position: absolute;
    display: flex;
}

.logo {
    font-family: "Beef'd";
    font-size: 1px;
}

.media {
    height: 30px;
}

.facebook, .twitter, .messenger {
    margin-right: 7px;
}

.no-underline:link, .no-underline:visited, .no-underline:hover, .no-underline:active {
    text-decoration: none;
}

@media all and (min-width: 700px) {
    .nav {
        font-size:130%;
    }

    .nav:link, .nav:visited, .nav:hover, .nav:active {
        color: white;
    }

    #nav-bar {
        height:60px;
        background-color: rgba(0, 0, 0, 0.10);
        padding: 0 20px;
    }
}

